@page "{guid}"
@model DineView.Webapp.Pages.Restaurants.DetailsModel
@section Head {
    <style>
        .row {
            margin-bottom: 10px;
        }
    </style>
}

<h3>Details of the restaurant @Model.Restaurant.Name</h3>
<h4>New Menu</h4>

<form method="post" asp-page-handler="NewMenu">
    <div class="row">
        <div class="col-6">
            <label asp-for="NewMenu.DishGuid">Dish</label>
            <select class="form-select"
                    asp-items="@Model.DishSelectList"
                    asp-for="NewMenu.DishGuid"></select>
        </div>

        <div class="col-6">
            <label asp-for="NewMenu.Price">Price</label>
            <input class="form-control" asp-for="NewMenu.Price" />
            <small>
                <span class="text-danger" asp-validation-for="NewMenu.Price"></span>
            </small>
        </div>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <button class="btn btn-primary">Save</button>
</form>

<h4>Menu</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Price</th>
            <th>Name</th>
            <th>Description</th>
            <th>Calories</th>
            <th>IsSpicy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Menus.OrderBy(m => m.Dish.Name))
        {
            <tr>
                <td>@m.Price</td>
                <td>@m.Dish.Name</td>
                <td>@m.Dish.Description</td>
                <td>@m.Dish.Calories</td>
                <td>@m.IsSpicy</td>
            </tr>
        }
    </tbody>
</table>

